<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "logo_brand" do %>
    <%= image_tag "Logo.png" %>
    <% end %>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
          <%= link_to "Categorias", "#" , class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% Type.all.each do |type| %>
            <%= link_to type.name, '/' + type.name.downcase, class: "dropdown-item" %>
            <% end %>
          </div>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li>
        <div class="d-flex center">
          <div class="search-box">
            <input type="text" placeholder="Procurar..." onkeyup="myFunction()"><span></span>
          </div>
        </div>
      </li>
      &nbsp&nbsp&nbsp&nbsp
      <li>
      <%= link_to carts_path do  %>
        <i class="fas fa-shopping-cart"></i>
      <% end %>
      </li>&nbsp&nbsp
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= link_to current_user.email, "#" , class: "dropdown-toggle small_size", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to 'Anunciar Produto', new_product_path, class: 'dropdown-item' %>
            <%= link_to "Perfil", "#", class: "dropdown-item" %>
            <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Entrar", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  <script>

    window.addEventListener('load', function () {
      window.banner = document.querySelector(".app__cms__full-banner") || "";
      window.html1 = banner.innerHTML;
    })

    function myFunction() {
      // Declare variables
      var input, filter, div, i, item, txtValue;
      window.banner.innerHTML = "";
      input = document.querySelector("input");
      filter = input.value.toUpperCase();
      div = document.getElementsByClassName("apply_filter");
      console.log('oi')
      for (i = 0; i < div.length; i++) {
        item = div[i].getElementsByTagName('h4');
        txtValue = item[0].textContent || item[0].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          div[i].style.display = "";
        } else {
          div[i].style.display = "none";
          }
        }
      }
      'use strict';
      var searchBox = document.querySelectorAll('.search-box input[type="text"] + span');
      searchBox.forEach((elm) => {
        elm.addEventListener('click', () => {
          elm.previousElementSibling.value = '';
          myFunction();
          window.banner.innerHTML = window.html1
        });
      });
  </script>
</div>

  <% if notice %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
    </div>
  <% end %>
