<h1><%= @image %></h1>
<div class="app__cms__full-banner app__cms--skip-margin">
  <a data-label="separadasmasjuntas - image" data-slice="FullBanner" data-url="" href=""><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v1/https://images.prismic.io/amaro/990e9327-6d92-4072-88aa-850bcf392ec2_20200409-AMARO-homepage-mini-banner-separadasmasjuntas-sem-free-shipping.jpg?auto=compress,format&amp;rect=0,0,2560,199&amp;w=2560&amp;h=199"></a>
  <img class="img-banner" src="https://images.unsplash.com/photo-1504326787394-e6d75cae8027?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="">
</div>

<div class="d-flex justify-content ajuste-title">
  <h1>All Products</h1>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-3">
      <div class="flexpower">
        <%= link_to product_path(product) do %>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://source.unsplash.com/random?sig=<%= product.id %>" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title text-align"><%= product.name %></h4>
              <div class="app_product-box_pricing">
                <div class="app_product-box_cost app_product-box_cost--promote">
                  <span>R$<%= product.price %></span>
                  <span>6x R$<%= product.price/6 %></span>
                </div>
                <div class="app__product-box__sale">
                  <span>R$ <%= (product.price*1.10).round(2) %>0</span>
                  <span>(58% off)</span>
                </div>
                <%= link_to 'Ver mais', product_path(product), class: 'btn btn-outline-secondary btn-lg btn-block' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
