<div class="row container">
  <div class="product-img col-6">
    <% if @product.photos.present? %>
      <% @product.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    <% else %>
      <img class="card-img-top" src="https://source.unsplash.com/random?sig=<%= @product.id %>" alt="Card image cap">
    <% end %>
  </div>

  <div class="atributes col-6">
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Size:</strong>
      <div class="app__product__sizes__selector">
        <a href="#select">PP</a>
        <a href="#select">P</a>
        <a href="#select">M</a>
        <a href="#select">G</a>
        <a href="#select">GG</a>
      </div>
    </p>

    <p><strong>Colors:</strong>
      <i class="fas fa-circle red"></i>
      <i class="fas fa-circle yellow"></i>
      <i class="fas fa-circle"></i>
    </p>

    <h2>Rating</h2>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star-half-alt"></span>
    <span class="fa fa-star not"></span>
    <h4>Avaliado por 1 pessoa</h4>
    <form action="/cart_products?product_id=<%= @product.id %>" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input class="btn btn-outline-secondary btn-lg btn-block" type="submit" value="Adicionar ao carrinho">
    </form>
    <i class="fab fa-whatsapp"></i> <h4>Entre em contato com a gente </h4>
  </div>
</div>

<br>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', root_path %>
<%= link_to product_path(@product), method: :delete, data: {:confirm => "You sure?" } do  %>
  <i class="fas fa-trash"></i>
<% end %>
 <div class="app__product__colors">
<!-- <h5>Cor: <span>COBRE</span></h5>
      <div class="app__product__colors__selector">
        <a class="" data-code-color="20005632_010" data-color="AMARELO" href="/p/blusa-basica-u/amarelo"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_010.gif" alt="AMARELO"></a>
        <a class="" data-code-color="20005632_047" data-color="AZUL CLARO" href="/p/blusa-basica-u/azul-claro"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_047.gif" alt="AZUL CLARO"></a>
        <a class="" data-code-color="20005632_004" data-color="BRANCO" href="/p/blusa-basica-u/branco"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_004.gif" alt="BRANCO"></a><a class="is-active" data-code-color="20005632_053" data-color="COBRE" href="/p/blusa-basica-u/cobre"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_053.gif" alt="COBRE"></a><a class="" data-code-color="20005632_382" data-color="FENDI" href="/p/blusa-basica-u/fendi"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_382.gif" alt="FENDI"></a><a class="" data-code-color="20005632_011" data-color="LARANJA" href="/p/blusa-basica-u/laranja"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_011.gif" alt="LARANJA"></a><a class="" data-code-color="20005632_016" data-color="MARINHO" href="/p/blusa-basica-u/marinho"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_016.gif" alt="MARINHO"></a><a class="" data-code-color="20005632_008" data-color="MARROM" href="/p/blusa-basica-u/marrom"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_008.gif" alt="MARROM"></a><a class="" data-code-color="20005632_036" data-color="MOSTARDA" href="/p/blusa-basica-u/mostarda"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_036.gif" alt="MOSTARDA"></a><a class="" data-code-color="20005632_002" data-color="PRETO" href="/p/blusa-basica-u/preto"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_002.gif" alt="PRETO"></a><a class="" data-code-color="20005632_022" data-color="SALMÃO" href="/p/blusa-basica-u/salmao"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_022.gif" alt="SALMÃO"></a><a class="" data-code-color="20005632_089" data-color="TERRA" href="/p/blusa-basica-u/terra"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_089.gif" alt="TERRA"></a><a class="" data-code-color="20005632_055" data-color="VERDE AGUA" href="/p/blusa-basica-u/verde-agua"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_055.gif" alt="VERDE AGUA"></a><a class="" data-code-color="20005632_012" data-color="VERMELHO" href="/p/blusa-basica-u/vermelho"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_012.gif" alt="VERMELHO"></a><a class="" data-code-color="20005632_127" data-color="VERMELHO QUEIMADO" href="/p/blusa-basica-u/vermelho-queimado"><img src="https://amarotech-res.cloudinary.com/image/fetch/c_limit,f_auto,dpr_2,w_1280,q_auto:best/v11587758622/https://cdn.amaro.com/uploads/icons/20005632_127.gif" alt="VERMELHO QUEIMADO"></a></div></div> -->
